<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckzy.dao.mapper.SysRegionMapper">




    <!-- 获取省份列表 -->
    <select id="getProvinces" resultType="com.ckzy.pojo.entity.SysRegion">
        select * from sys_region where region_level = 1
    </select>


    <!-- 获取所在省份的城市列表 -->
    <select id="getByProvinceId" resultType="com.ckzy.pojo.entity.SysRegion">
        select * from sys_region where region_id = #{pid}
    </select>

    <!-- 获取所在成所的区、县列表 -->
    <select id="getCitiesOrDistricts" resultType="com.ckzy.pojo.entity.SysRegion">
        select * from sys_region where region_parent_id = #{parentId}
    </select>

</mapper>